on:
    push:
        paths:
          - '**.yml'
env:
    PLUGIN_NAME: world-of-darkness-obsidian-statblocks

permissions:
    contents: write
    pull-requests: write

name: release-please

jobs:
    release-please:
        runs-on: ubuntu-latest
        outputs:
            release_created: ${{ steps.release.outputs.release_created }}
            upload_url: ${{ steps.release.outputs.upload_url }}
            tag_name: ${{ steps.release.outputs.tag_name }}
        steps:
            - uses: google-github-actions/release-please-action@v3
              id: release
              with:
                  command: manifest

    upload-build:
        runs-on: ubuntu-latest
        needs: release-please
        if: ${{ needs.release-please.outputs.release_created }}
        env:
            upload_url: ${{ needs.release-please.outputs.upload_url }}
            tag_name: ${{ needs.release-please.outputs.tag_name }}
        steps:
            - name: Checkout code 
              uses: actions/checkout@v4
            - name: Build
              id: build
              run: |
                  mkdir ${{ env.PLUGIN_NAME }}
                  cp js/WoDCharsheets.js fantasy-statblock-jsons/* css-snippets/world-of-darkness-statblocks.css ${{ env.PLUGIN_NAME }}
                  zip -r ${{ env.PLUGIN_NAME }}.zip ${{ env.PLUGIN_NAME }}
            - name: Upload zip file
              id: upload-zip
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ env.upload_url }}
                  asset_path: ./${{ env.PLUGIN_NAME }}.zip
                  asset_name: ${{ env.PLUGIN_NAME }}-${{ env.tag_name }}.zip
                  asset_content_type: application/zip
            - name: Upload WoDCharsheets.js
              id: upload-js
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ env.upload_url }}
                  asset_path: js/WoDCharsheets.js
                  asset_name: WoDCharsheets.js
                  asset_content_type: text/javascript
            - name: Collent all files into one archive
              uses: actions/upload-artifact@v4
              with:
                  name: jsons
                  path: fantasy-statblock-jsons/
                  if-no-files-found: error
            - name: Upload world-of-darkness-statblocks.css
              id: upload-css
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ env.upload_url }}
                  asset_path: css-snippets/world-of-darkness-statblocks.css
                  asset_name: world-of-darkness-statblocks.css
                  asset_content_type: text/css