# https://github.com/SilentVoid13/Templater/blob/master/.github/workflows/release.yml
name: Plugin release
on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
    paths:
      - '**.yml' # тест

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code 
        uses: actions/checkout@v3
      - name: Plugin release
        uses: ncipollo/release-action@v1.12.0
        with:
          artifacts: "css-snippets/world-of-darkness-statblocks.css,js/WoDCharsheets.js"
          token: ${{ secrets.GITHUB_TOKEN }}